
#manage_hidden_box{
    right: 5.5rem;
    top: 3.7rem;
}
/* ellipsis 버튼 스타일 */
.ellipsis_container {
    position: relative;
    width: 0.64rem;
  }
#ellipsis_hidden_box{
    display:block;
    right: 0rem;
    top: 0.7rem;
    min-width: 15vw;
}
/*관리(유지보수)*/
.host_maintenance_popup{
    border: 1px solid #dfdddd;
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    top: 50%;
    height: 54.4vh;
    width: 30%;
    left: 50%;
    font-size:0.33rem;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
}
.maintenance_content{
    padding:0.2rem;
}
.maintenance_content>div{
    padding: 0.25rem 0;
}
.host_new_add .edit_first_content>div:first-child{
    margin-bottom:0;
}