.host-new-popup{
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    top: 50%;
    height: 67%;
    width: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
}

.host-new-content{
    font-size: 0.32rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 76%;
    padding: 0.2rem 0 ;
}

.host-new-content>div{
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
}

.host-new-content select,
.host-new-content input[type="text"]{
    width: 47%;
}
