/* Table.css */
.pagination {

  margin-bottom: 10px; /* 테이블과의 간격 설정 */
}

.search_box button {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.pagination button.active {
  background-color: rgb(218, 236, 245);
}

.pagination span {
  margin-right: auto; /* 페이지 범위를 왼쪽에 배치 */
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
}
.paging_btns{
    display:flex;
    justify-content: space-between;
}
.paging_arrow{
    font-size: 0.4rem;
    font-weight: 800;
    color:gray;
    border: 1px solid #DDDDDD;
}
.paging_btns span{
    display:block;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin: 0 0.2rem;
}
/* TableOuter.css */
.custom-table td, 
.custom-table th {
  max-width: 200px; /* 최대 너비를 설정 */
  white-space: nowrap; /* 텍스트를 한 줄로 표시 */
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
  text-overflow: ellipsis; /* 넘치는 텍스트는 ...으로 표시 */
}
.custom-table tr {
  cursor: pointer; /* 모든 tr에 cursor: pointer 적용 */
}
.section_table_outer { 
  font-size: 0.3rem; 
}
.custom_outer{
  max-height: 62.4vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.section_table_outer table { 
  width:100%;border-collapse:collapse; 
}
.section_table_outer table tbody tr { cursor: pointer; }
.section_table_outer table tbody tr:hover { background-color: #ebececd8; }
.section_table_outer th,
.section_table_outer td { border: 1px solid rgb(204, 204, 204); }
.section_table_outer th { padding: 0.04rem;text-align: center;background-color: #d1e2eb; }
.section_table_outer td { padding: 0.02rem 0.1rem; }
.section_table_outer td:nth-child(2) { width: 10%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; }
.section_table_outer input[type="checkbox"]{ text-align: center; }
.section_table_outer > button {
    display: flex;
    cursor: pointer;
    padding: 0.07rem 0.1rem;
    margin-bottom: 0.13rem;
}
/*search_box*/
.search_box{
  width: 40%;
  display: flex;
  margin-bottom: 0.15rem;
}
.search_box input{
  height: 3.1vh;
  width: 92%;
  outline: none;   
}
.search_box>button{
  height: 3.1vh;
  width: 5%;
  cursor: pointer;
  font-size: 0.3rem;
}