<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
	<properties>
		<Property name="name">../logs/itinfo/$${date:yyyy}/$${date:MM}/$${date:dd}</Property>
	</properties>

	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</Console>

		<RollingFile name="FILE" append="true"
			fileName="CASTANETS/castanets.log"
			filePattern="../logs/castanets/$${date:yyyy}/$${date:MM}/$${date:dd}/castanets.log.%i">
			<PatternLayout
				pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingFile>


		<Console name="ACCESS" target="SYSTEM_OUT">
			<PatternLayout
					pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</Console>

		<RollingFile name="ACCESS_FILE" append="true"
					 fileName="CASTANETS/access.log"
					 filePattern="../logs/itinfo/$${date:yyyy}/$${date:MM}/$${date:dd}/access.log.%i">
			<PatternLayout
					pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingFile>

	</Appenders>

	<Loggers>
		<Logger name="org.springframework" level="debug">
			<AppenderRef ref="FILE" />
		</Logger>
		<Logger name="org.mybatis" level="debug">
			<AppenderRef ref="FILE" />
		</Logger>
		<Logger name="java.sql.Connection" level="debug">
			<AppenderRef ref="FILE" />
		</Logger>
		<Logger name="java.sqlPreparedStatement" level="debug">
			<AppenderRef ref="FILE" />
		</Logger>
		<Logger name="java.sqlPreparedStatement" level="debug">
			<AppenderRef ref="FILE" />
		</Logger>
		<Logger name="castanets" level="debug">
			<AppenderRef ref="FILE" />
		</Logger>

		<Logger name="castanets.security" level="debug">
			<AppenderRef ref="ACCESS_FILE" />
		</Logger>

		<Root level="debug">
			<AppenderRef ref="STDOUT" />
		</Root>

		<Root level="info">
			<AppenderRef ref="ACCESS" />
		</Root>
	</Loggers>

</Configuration>