.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 300px;
  margin: 0 auto;
}

.grid-item {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: relative;
  background-color: inherit; /* 기본 배경색 제거 또는 상속 */
  /* background-color: #7dc76e; */
}

.grid-item:hover::after {
  content: attr(title);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
  font-size: 12px;
}

.percent {
  margin-top: 5px;
  font-size: 12px;
  color: #000000;
}
