.header_right_btns {
  display: flex;
  /* gap: 10px; */
  
}

.dropdown-container {
  position: relative;
  display: inline-block;
}
.dropdown-container>button{
  font-size: 0.3rem;
  height: 3.3vh;
  font-weight: 600;
  margin-right: 0.2rem;
  padding: 0.1rem 0.1rem;
  border: 1px solid gray;
  border-radius: 2px;
}
.manage-button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 103%;
  width: 214%;
  right: 12%;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  font-size: 0.3rem;
}

.dropdown-item{
display: block;
width: 100%;
background: none;
border: none;
text-align: left;
padding: 0.08rem;
font-size: 0.3rem;

}

.dropdown-item:hover{
  background-color: rgb(218, 236, 245);
}
