.pregroup_content{
    width: 100%;
}

.content_header_right>button:last-child{
    margin-right: 0;
}
.vGPU_radiobox{
    padding:0.2rem;
}
.host_new_add{
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    top: 50%;
    height: 78%;
    width: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
}
.host_new_add form{
    height: 65vh;
    overflow-y: auto; /* 세로 스크롤 추가 */
    overflow-x: hidden; /* 가로 스크롤 숨김 */
}

