.iscsi_buttons {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  gap: 10px; /* 버튼 간격 */
}
.tab_button {
  width: 100px;
  height: 32px;
  padding: 5px 3px;
  font-size: 15px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}
.tab_button.active {
  background-color: #007bff;
  color: white;
}

.label_font_name{
  font-size: 15px;
  font-weight: bold;
}

.tab_content{
  padding: 5px 10px;
}

.input_number{
  width: 70px;
}

.search_button{
  height: 25px;
  width: 40px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  cursor: pointer;
  align-content: center;
  justify-content: center
}
/*도메인(새로만들기, 편집, 가져오기)*/
.storage-domain-administer-popup{
  border: 1px solid #dfdddd;
  position: absolute;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  top: 50%;
  height: 87%;
  width: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
}

.storage-domain-new-first{
  display: flex;
  padding: 0.4rem;
  font-size: 0.32rem;
  justify-content: space-between;
  border-bottom: 1px solid #dfdddd;
}
.storage-domain-new-first>div{
  width: 48%;
}

.domain-new-select{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
.domain-num-box{
  font-size: 0.32rem;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  width: 100%;
}
.domain-new-select select, 
.domain-new-select input
{
  width: 56%;
  height: 3.3vh;
  padding: 0 3px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.29rem;
  outline: none;
  border: 1px solid  rgb(206, 206, 206);
}

/*도메인 삭제*/
.domain-delete-popup{
  border: 1px solid #dfdddd;
  position: absolute;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  top: 50%;
  height: 33.4vh;
  width: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
}

/*유지보수 팝업*/
.maintenance_popup{
  position: absolute;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  top: 50%;
  font-size: 0.34rem;
  height: 49%;
  width: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); 
  z-index: 1000;
}
.hosted_storage{
  padding: 0.3rem;
}