/*디스크(새로만들기)*/
.storage_disk_new_outer{
    display: none;
    position: absolute; /* 시작 지점을 버튼 위, 0픽셀부터 시작하려고 주는 것*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.storage_disk_new_popup{
    border: 1px solid #dfdddd;
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    top: 50%;
    height: 80%;
    width: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
}

    /*디스크(업로드)*/
.storage_disk_upload_popup{
    border: 1px solid #dfdddd;
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    top: 50%;
    height: 78.4vh;
    width: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
}
.storage_upload_first{
    padding: 0.4rem;
    display: flex;
    font-size: 0.34rem;
    margin-bottom:1rem;
}
.storage_upload_first>button{
    font-weight: 600;
    margin-right: 0.4rem;
    padding: 0.1rem;
   
    cursor: pointer;
}
.storage_upload_first>div{
    display: flex; /* Flexbox 설정 추가 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
/*디스크(삭제)팝업 */
.storage_delete_popup{
    border: 1px solid #dfdddd;
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    top: 50%;
    height: 38.4vh;
    width: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
}
.disk_delete_box{
    padding:0.3rem;
    font-size:0.4rem;
}
.disk_delete_box>div{
    padding: 0.4rem;
    border:2px solid blue;
    color:blue;
}
.disk_type{
    display:flex;
    font-size: 0.35rem;
}
.disk_type>div{
    display: flex;
   
    padding: 0.2rem 0;
}
.disk_type span{
    display:block;
    margin-right:0.2rem;
}
.content_type_btn{
    position:relative;
}
.content_type{
    position: absolute;
    width: 11vw;
    top: 0.77rem;
    border-radius: 1px;
    border: 1px solid gray;
    background: white;
}
.content_type>div{
    padding: 0.1rem;
    cursor:pointer;
}
.content_type>div:hover{
    background:#DDDDDD;
}