

/**/

/*네트워크(가져오기)*/
.network_bring_outer{
    display: none;
    position: absolute; /* 시작 지점을 버튼 위, 0픽셀부터 시작하려고 주는 것*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.network_bring_popup{
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    top: 50%;
    height: 87%;
    width: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
}
.network_bring_outer .network_form_group{
    font-size: 0.34rem;
    padding: 0.4rem;
}
#network_bring_table_outer{
    font-size: 0.34rem;
    padding: 0 0.4rem 0.4rem 0.4rem;
}
#network_bring_table_outer span,

{
    font-weight: 600;
    margin-bottom: 0.1rem;
    display: block;
}
#network_bring_table_outer>div{
    border: 1px solid #c9c9c9;
    height: 27vh;
    overflow-y: auto; /* 세로 스크롤 추가 */
    overflow-x: hidden; /* 가로 스크롤 숨김 */
}
#network_bring_table_outer table{
    width: 100%;
    border-collapse: collapse;
}
#network_bring_table_outer th,#network_bring_table_outer td{
    padding: 0.04rem;
}
#network_bring_table_outer th{
    border-bottom: 1px solid black;
    background-color: #d1e2eb;
    text-align: left;
    border-collapse: collapse;
}
/**/
.edit_footer{
    border-top: 1px solid gray;
}
/*네트워크 인터페이스 팝업창들*/
    /*새로만들기*/
    .network_popup_outer{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    .network_popup{
        position: absolute;
        box-sizing: border-box;
        border-radius: 4px;
        background: #fff;
        top: 50%;
        height: 65%;
        width: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
    }
    

    .network_popup_content{
        height: 60%;
        padding: 1% 2%;
        font-size: 0.35rem;
    }
    .network_popup_content>div{
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.3%;
    }
    
    .select_box select,
    .input_box input{
        width: 47%;
        height: 3.3vh;
        padding: 0 3px;
        border-radius: 3px;
        cursor: pointer;
        font-size: 0.29rem; 
    }
    .select_box2>div:last-child,
    .plug_radio_btn>div{
        width: 47%;
    }
    .select_box2 select{
        width: 100%;
        height: 3.3vh;
        padding: 0 3px;
        border-radius: 3px;
        cursor: pointer;
        font-size: 0.29rem; 
    }
    .radio_outer>div{
        width: 100%;
        display: flex;
        justify-content: left;
    }
    .radio_outer input{
        cursor: pointer;
    }
    .radio_outer input, .radio_outer img{
        margin-right: 0.3rem;
    }
    .plug_radio_btn span{
        display: flex; /* Flexbox 설정 추가 */
        justify-content: center; /* 수평 가운데 정렬 */
        align-items: center; /* 수직 가운데 정렬 */
    }
    .network_parameter_outer{
        padding: 1% 2%;
        font-size: 0.32rem;
    }
    .network_parameter_outer>span{
        font-weight: 600;
        display: block;
        margin-bottom: 0.3rem;
    }
    .network_parameter_outer>div{
        display: flex;
        justify-content: space-between;
    }
    .network_parameter_outer>div>div:nth-child(-n+2){
        display: flex;
        width: 32%;
        justify-content: space-between;
    }
    #buttons{
        width: 5%;
        display: flex;
        justify-content: space-between;
    }
    #buttons>button{
       width: 50%;
       font-size: 0.4rem;
       font-weight: 600;
       cursor: pointer;
    }
    /**/
  
    .network_first_contents{
        padding: 0.1rem 0;
        border-bottom: 1px solid  rgb(206, 206, 206);;
    }
    .network_form_group,
.network_checkbox_type1,
.network_radio_group,
.network_checkbox_type3
{
    display: flex;
    justify-content: space-between;
    padding: 1.2% 2%;
}
.network_form_group input,
.network_form_group select,
.network_checkbox_type1>input[type="text"],
.network_checkbox_type3 input
{
    width: 47%;
    height: 3.3vh;
    padding: 0 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.29rem;
    outline: none;
    border: 1px solid  rgb(206, 206, 206);
}



#network_new_cluster_form{
    padding: 1rem;
}


.network_new_cluster_table th,.network_new_cluster_table td{
    border: 1px solid rgb(209, 209, 209);
    padding: 0.05rem;
}
#network_new_vnic_form{
    padding: 0.5rem;
}

#network_new_vnic_form>div{
    display: flex;
    justify-content: space-between;
}

#host_outer,
#ha_mode_outer,
#system_outer,
#res_alloc_outer,
#common_outer,
#console_outer
{
    height: 63.4vh;
    overflow-y: auto; /* 세로 스크롤 추가 */
    overflow-x: hidden; /* 가로 스크롤 숨김 */
}
#system_outer,#host_outer,#ha_mode_outer,#res_alloc_outer{
    display: none;
}

#system_outer,
#res_alloc_outer,
#common_outer,
#console_outer
{
    height: 63.4vh;
    overflow-y: auto; /* 세로 스크롤 추가 */
    overflow-x: hidden; /* 가로 스크롤 숨김 */
}
#system_outer,#host_outer,#ha_mode_outer,#res_alloc_outer{
    display: none;
}
.console_checkboxs{
    padding:0.4rem;
}
.console_checkboxs>div{
    margin-bottom: 0.2rem;
}
.console_checkboxs>span{
    font-weight: 600;
    display: block;
    margin-bottom: 0.1rem;
}
#monitor{
    width: 66%;
}
#monitor select{
    width: 18%;
    height: 3.3vh;
    padding: 0 3px;
    cursor: pointer;
    font-size: 0.29rem;
}
.console_checkboxs{
    padding:0.4rem;
}
.console_checkboxs>div{
    margin-bottom: 0.2rem;
}
.console_checkboxs>span{
    font-weight: 600;
    display: block;
    margin-bottom: 0.1rem;
}
#console_outer>.res_alloc_checkbox{
    padding: 0.4rem;  
}
#console_outer>.res_alloc_checkbox input{
    margin-right: 0.1rem;
}
/*리소스할당*/
.res_second_content{
    padding: 2%;
}

.cpu_res>div,#threads,#boot_checkboxs>div:first-child{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
}
#cpu_sharing{
    display: flex;
    width: 47%;
    justify-content: space-between;
}

#cpu_sharing>input{
    width: 23%;
}
#threads>div:nth-child(2),#boot_checkboxs>div>div:nth-child(2){
    width: 47%;
}
#threads input[type="text"],#boot_checkboxs input[type="text"]  {
    width: 94%;
    height: 3.3vh;
    padding: 0 3px;
    cursor: pointer;
}
#host_second_content{
    padding: 2%;
}#host_third_content{
    padding: 0 2%;
}
#host_third_content>div{
    padding: 1% 0;
}
#ha_mode_second_content{
    padding: 2%;
}
#ha_mode_second_content>div:first-child{
    padding-bottom: 2%;
}
#ha_mode_second_content>div:nth-child(n+2):nth-child(-n+3),.ha_mode_article>div{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
}
#ha_mode_second_content>div:nth-child(n+2) select
{
    width: 47%;
    height: 3.3vh;
    padding: 0 3px;
    cursor: pointer;
    font-size: 0.29rem;
}

.ha_mode_article>span{
    font-weight: 600;
    margin-bottom: 0.7%;
    display: block;
}
.form_checks>div{
    padding: 1.8% 0 0 0;
}
.form_checks>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    
}
.form_checks>div:nth-child(2)>div:nth-child(2){
    width: 47%;
}
.form_checks>div:nth-child(2) select{
    width: 100%;
    height: 3.3vh;
    padding: 0 3px;
    cursor: pointer;
    font-size: 0.29rem;
}
.network_edit_popup form{
    height: 66.3vh;
    overflow-y: auto;
    overflow-x: hidden; 
}
.network_edit_popup{
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    top: 50%;
    height: 80%;
    width: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
}
.popup_plus_btn{
    padding: 1.2% 2%;
    display: flex;
    justify-content: right;
}
.popup_plus{
    padding:0.08rem;
    border:1px solid gray;
    border-radius:3px;
    cursor:pointer;
}
.plus_popup_outer{
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    top: 50%;
    height: 56%;
    width: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
    font-size:0.35rem;
}
