.iscsi_buttons {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  gap: 10px; /* 버튼 간격 */
}

.tab_button {
  width: 100px;
  height: 32px;
  padding: 5px 3px;
  font-size: 15px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

.tab_button.active {
  background-color: #007bff;
  color: white;
}

.label_font_name{
  font-size: 15px;
  font-weight: bold;
}

.tab_content{
  padding: 5px 10px;
}

.input_number{
  width: 70px;
}

.search_button{
  height: 25px;
  width: 40px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  cursor: pointer;
  align-content: center;
  justify-content: center
}
/*도메인(도메인 관리)*/
.storage_domain_administer_outer{
  display: none;
  position: absolute; /* 시작 지점을 버튼 위, 0픽셀부터 시작하려고 주는 것*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.storage_domain_administer_popup{
  border: 1px solid #dfdddd;
  position: absolute;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  top: 50%;
  height: 87%;
  width: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
}


.storage_right_btns{
  display: flex;
  font-size: 0.34rem;
  margin-bottom: 0.3rem;
  height: 3.3vh;
}
.storage_right_btns>span{
  margin-right: 0.2rem;
  display: flex; /* Flexbox 설정 추가 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}
.storage_right_btns>div{
  width: 8%;
  display: flex;
  justify-content: space-between;
}
.storage_right_btns button{
  width: 50%;
  cursor: pointer;
  border: 1px solid #14417c;
  border-radius: 3px;
  color: rgb(10, 55, 107);
  font-weight: 600;
}

/*도메인(새로운 도메인)*/
.storage_domain_new_outer{
  display: none;
  position: absolute; /* 시작 지점을 버튼 위, 0픽셀부터 시작하려고 주는 것*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.storage_domain_new_popup{
  border: 1px solid #dfdddd;
  position: absolute;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  top: 50%;
  height: 91%;
  width: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
}
.storage_domain_new_first{
  display: flex;
  padding: 0.4rem;
  font-size: 0.32rem;
  justify-content: space-between;
  border-bottom: 1px solid #dfdddd;
}
.storage_domain_new_first>div{
  width: 48%;

}
.domain_new_group{
  font-size: 0.32rem;
  padding: 0.2rem 0.3rem;
  display: flex;
  justify-content: space-between;
}
.domain_new_select{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
.domain_num_box{
  font-size: 0.32rem;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  width: 100%;
}
.domain_new_select select, 
.domain_new_select input,
.storage_popup_NFS input
{
  width: 56%;
  height: 3.3vh;
  padding: 0 3px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.29rem;
  outline: none;
  border: 1px solid  rgb(206, 206, 206);
}
.storage_popup_NFS{
  padding: 0.4rem;
  font-size: 0.32rem;
  overflow-y: auto;
  height: 50.5vh;
  overflow-x: hidden;
}
  /* 번짐 효과를 위한 CSS */
  input[type="text"]:focus {
      box-shadow: 0 0 8px rgba(22, 90, 190, 0.8); /* 파란색 번짐 효과 */
      outline: none; /* 기본 아웃라인 제거 */
    }
  input[type="checkbox"]{
      cursor: pointer;
      width:0.3rem;
      display: flex; /* Flexbox 설정 추가 */
      justify-content: center; /* 수평 가운데 정렬 */
      align-items: center; /* 수직 가운데 정렬 */
  }
  .storage_popup_NFS i{
      margin-right: 0.08rem;
  }
  

  .storage_popup_NFS>div{
      margin-bottom: 0.2rem;

  }
  #domain_hidden_box_btn,#domain_hidden_box_btn2{
      cursor: pointer;   
  }
      /*히든박스*/
  #domain_hidden_box{
      font-size: 0.3rem;
      margin-top: 0.2rem;
  }
  #domain_hidden_box>span{
      color: red;
  }
  .hidden_checkbox{
      display: flex;
      
  }
  .hidden_checkbox input{
      text-align: left;
      width: 1.5%;
      margin-right: 0.1rem;
  }
  .hidden_checkbox label{
  display: flex; /* Flexbox 설정 추가 */
      justify-content: center; /* 수평 가운데 정렬 */
      align-items: center; /* 수직 가운데 정렬 */
  }
/*도메인(도메인 가져오기)*/
.storage_domain_get_outer{
  display: none;
  position: absolute; /* 시작 지점을 버튼 위, 0픽셀부터 시작하려고 주는 것*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.storage_domain_get_popup{
  border: 1px solid #dfdddd;
  position: absolute;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  top: 50%;
  height: 91%;
  width: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
}
/*디스크(새로만들기)*/
.storage_disk_new_outer{
  display: none;
  position: absolute; /* 시작 지점을 버튼 위, 0픽셀부터 시작하려고 주는 것*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}


  /*디스크(업로드)*/
.storage_disk_upload_popup{
  border: 1px solid #dfdddd;
  position: absolute;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  top: 50%;
  height: 78.4vh;
  width: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
}
.storage_upload_first{
  padding: 0.4rem;
  display: flex;
  font-size: 0.34rem;
  margin-bottom:1rem;
}
.storage_upload_first>button{
  font-weight: 600;
  margin-right: 0.4rem;
  padding: 0.1rem;
 
  cursor: pointer;
}
.storage_upload_first>div{
  display: flex; /* Flexbox 설정 추가 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}
/*도메인 삭제*/
.domain_delete_popup{
  border: 1px solid #dfdddd;
  position: absolute;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  top: 50%;
  height: 33.4vh;
  width: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
}
/*디스크 연결 팝업*/
.storage_disk_new_popup{
  border: 1px solid #dfdddd;
  position: absolute;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  top: 50%;
  height: 74%;
  width: 50%;
  left: 50%;
  z-index:99999;
  transform: translate(-50%, -50%);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
}
.disk_new_img_left,#disk_managed_block_left{
  width: 60%;
}
.disk_new_img_left>div, #disk_managed_block_left >div{
  display: flex;
  justify-content: space-between;
}
.img_input_box select{
  width: 55%;
  height: 3.5vh;
  border: 1px solid #8b8989;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.29rem; 
  outline: none;
}
/*디스크 삭제모달*/
.disk_delete_box{
  padding:0.2rem;
  font-size:0.4rem;
}
.disk_delete_box>div{
  padding: 0.4rem;
  color: #3737ba;
}
/*스토리지 팝업창들*/
.disk_option{
  background-color: #e6e6e6;
  font-size: 0.34rem;
  font-weight: 600;
  padding: 0.35rem 0.4rem;
}
.disk_new_img_right button{
  padding: 0.1rem;
  font-weight: 600;
  cursor: pointer;
}
.hidden_checkbox{
  display: flex;
  
}
.hidden_checkbox input{
  text-align: left;
  width: 1.5%;
  margin-right: 0.1rem;
}
.hidden_checkbox label{
  display: flex; /* Flexbox 설정 추가 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}
