
.content_header_right {  
    display: flex;
    margin-bottom: 0.3rem;
    align-items: center;
    justify-content: right;
}
/* 이벤트 테이블 */
.event_table_outer{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
.event_table_outer>.section_table_outer{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}


.section_content_outer{
    width: 89%;
}


.host_empty_outer{
    width: 100%;
    padding: 1rem 0;
}