.content_outer{
    width: 100%;
    display: flex;
    height: 88%;
}
.empty_nav_outer{
    width: 100%;
    padding: 0.6rem 0.3rem;
}
.pregroup_content{
    width: 100%;
}
/*마이그레이션 팝업*/

#host{
    width: 87.5%;
    height: 5vh;
    border-radius: 3px;
}
#migration_article>div:last-child{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#migration_article>div:last-child>div{
    padding: 10px 0;
}
#migration_article>div:last-child>div:last-child{
    width: 87.5%;
    font-size: 0.36rem;
    height: 5vh;
    background-color: #ebebeb;;
    border-radius: 3px;
}

#migration_footer>button{
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding:0.2rem;
    letter-spacing: -1px;
    font-size: 0.3rem;
}
#migration_footer>button:first-child{
    background-color: #0066CC;
    color:white
}
#migration_footer>button:last-child{
    color:#0066CC ;
}
.content_header_right>button:last-child{
    margin-right: 0;
}