

.host_content_outer{
    width: 100%;
    padding: 0.2rem 0 ;

    height: 100%;
    overflow-y: auto; /* 세로 스크롤바를 필요할 때 표시합니다 */
}
.host_tables{
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.host_table{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.3rem;
}

.host_table th{
    text-align: left ;
    width: 60%;
    padding: 0.06rem 0 ;
}
.host_table tr{
    width: 100%;

}

.host_empty_outer{
    width: 100%;
    padding: 1rem 0;
}

.host_network_boxs:hover{
   background:#e6eefa;
}
.host_network_firstbox{
    display: flex;
    justify-content: space-between;
    font-size: 0.37rem;
    padding: 0 0.2rem;
    text-align: center;
    cursor: pointer;
}
.host_network_firstbox i{
    margin-right: 0.3rem;
    font-size: 0.55rem;
}
.host_network_boxs{
    border:1px solid #DDDDDD;
    margin-bottom:0.2rem;
}
.host_network_firstbox>div{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0 ;
    width:100%;
 
}
.firstbox_flex{
    display: flex;
    justify-content: space-between;
}
.firstbox_flex>div>div{
    font-weight: 600;
}
.host_network_hiddenbox{
    background-color: white;
    padding: 0.2rem;
}
.hostdetial_only_outer{
    width: 88%;

}   