#section,#storage_section,#network_section,#setting_section,#detail_section{
    background-color: #ffffff;
    border-radius: 5px;
    width: 96%;
    position: relative;
}



/*새로만들기 팝업*/
.host_new_outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.host_new_popup {
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    top: 50%;
    height: 90%;
    width: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
}
.host_edit_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white; /* 필요에 따라 배경색을 설정 */
    border-top: 1px solid #cecece;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.3%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* 옵션: 그림자 추가 */
}

.host_edit_footer button {
    padding: 1% 2%;
    margin-left: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 0.3rem;
    border-radius: 4px;
    font-weight: 600;
}


.host_edit_footer button:first-child,.host_edit_footer button:nth-child(3){
    background-color: rgb(218, 218, 218);
    border: 1px solid rgb(122, 122, 122);
}
.host_edit_footer button:nth-child(2){
    background-color:#6e9cd8;
    color: white;
    border: 1px solid #295b9c;

}



.edit_first_content input,
.host_textbox input,
.host_text_raido_box input[type='text'],
.host_policy select
{
    width: 47%;
    height: 3.5vh;
    padding: 0 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.29rem;
    border: 1px solid #a7a6a6;
}
.host_checkboxs>div,.addFence_agent{
    padding: 0.3rem 0.4rem;
}
.host_checkbox{
    display: flex;
    align-items: center;
}
.edit_body input[type='checkbox'],
.host_text_raido_box input[type='radio'],
.host_radiobox input[type='radio']

{
    margin-right: 0.14rem;
    cursor: pointer;
    
}

.host_text_raido_box,.addFence_agent,.host_textbox{
    display: flex;
    justify-content: space-between;
}
.host_text_raido_box>div{
    display: flex; /* Flexbox 설정 추가 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.host_radiobox {
    display: flex;
    align-items: center;
}

.host_radiobox input[type="radio"] {
    vertical-align: middle; /* 수직 정렬 */
}
.sorted_agents,.advanced_objec_add{
    display: block;
    padding: 0.1rem 0.4rem;
}
.addFence_agent{
    border-top: 1px solid rgb(207, 207, 207);
}
.addFence_agent>button{
  width: 3.5%;
}
.kernel_first_content{
    padding: 0.7rem 0.4rem;
}

.edit_aside > div {
    display: flex;
    width: 34%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    cursor: pointer;
    outline: none;
}

.host_policy{
    padding: 0.7rem 0.4rem;
    display: flex;
    justify-content: space-between;
}
.preference_outer{
    padding: 0.4rem;
}
.preference_content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}
.preference_content>div{
    width: 44%;
    display: flex;
    justify-content: space-between;
}
.preference_content>label{
    display: flex;
    justify-content: center;
   
    align-items: center; /* 수직 가운데 정렬 */
}
.preference_content select{
    width: 87%;
    height: 3.5vh;
    padding: 0 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.29rem;
    
}
.preference_content button{
    height: 3.5vh;
    padding: 0 3px;
    cursor: pointer;
}
.preference_noncontent{
    display: flex;
    padding-bottom: 0.5rem;
    justify-content: space-between;
}
.preference_noncontent>div:nth-child(2){
    text-align: left;
    width: 44%
}