/* .header {
    height: 5%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 0 1%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.13);
} */
.header{
    height: 5%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 0 0.3rem;
    background-color: #ffffff;
    display: flex;
    margin-bottom: 0.1rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.13);
}

.header_right {
    font-size: 0.4rem;
    display: flex;
    align-items: center; /* 세로 중앙 정렬 추가 */
}

.header_right > span {
    color: rgb(0, 0, 0);
    font-weight: 600;
    cursor: pointer;
}
.header_right > span:hover{
    color: #5dcbf7;
}
.header_left {
    display: flex;
    justify-content: space-between;
    font-size: 0.5em;
    min-width: 9%;
    align-items: center; /* 세로 중앙 정렬 추가 */
}
.header_left span{
    font-size: 0.4rem;
}
.header_left > div{
    padding: 0 0.1rem;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.header_left > div > i {
    
    font-size: 1.2em;
    cursor: pointer;
}
.header_left > div:hover{
    border-radius: 50%;
    background-color: #a4d9db;
}
/* Header 아이콘들 */
.user_btn,
.fa-bell-wrapper { position: relative; }

.user_loginbox{
    position: absolute;
    background-color: #ffffff;
    z-index: 4;
    width: 9vw;
    left: -226%;
    font-size: 0.3rem;
    border: 1px solid rgb(204, 204, 204);
    top: 113%;
    border-radius: 2px;
}
.user_loginbox>div{
    padding: 0.09rem 0.12rem ;
}
.user_loginbox>div:hover{
    background-color: #ebececd8;
}
.bell_box{
    position: absolute;
    background-color: #ffffff;
    z-index: 3;
    width: 11.65vw;
    left: -95%;
    font-size: 0.3rem;
    border: 1px solid rgb(204, 204, 204);
    top: 112%;
    height: 89.6vh;
    border-radius: 2px;
}

/* Header 아이콘들 */
.user_loginbox{
    position: absolute;
    background-color: #ffffff;
    z-index: 3;
    width: 120%;
    left: -4%;
    font-size: 0.3rem;
    border: 1px solid rgb(204, 204, 204);
    top: 99%;
    border-radius: 2px;
}
.user_loginbox>div{
    padding: 0.09rem 0.12rem ;
}
.user_loginbox>div:hover{
    background-color: #ebececd8;
}
.logo{
    width: 22%;
    margin: 0 0.2rem;
}
.path{
    font-size:0.32rem;
}
.path_icon{
    color:gray;
    font-weight:800;
    font-size:0.25rem;
    margin:0 0.14rem;
}